/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: rgb(0, 81, 255);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  border: 3px solid black;
  height: 60px;
  width: 200px;
  background-color: orange;
  font-size: 20px;
  font-weight: bold;
  margin-top: 1.5vh;
}
button:hover {
  background-color: rgb(197, 128, 0);
}

.card {
  width: 25%;
  height: 150px;
  background-color: rgb(194, 209, 226);
  border: 3px solid rgb(34, 150, 244);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.card h3, .card p {
  text-align: left;
  margin-bottom: 5px;
}
.card h3 {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: bolder;
}
.card p {
  font-size: 18px;
}
.card .price {
  background-color: white;
  text-align: center;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  font-size: 20px;
}
header img {
  width: 100px;
  height: auto;
}
header nav {
  display: flex;
  gap: 3vw;
}
header .item {
  list-style: none;
  text-decoration: none;
  color: rgb(34, 150, 244);
}
header .item:hover {
  color: rgb(34, 150, 244);
  text-decoration: underline;
}
header .item.active {
  text-decoration: underline;
}

footer {
  background-color: rgb(29, 31, 33);
  height: 190px;
  padding: 3rem 8rem 5rem 8rem;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
}
footer h4 {
  color: orange;
  font-size: 23px;
  font-weight: bolder;
  margin-bottom: 15px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .item {
  list-style: none;
  text-decoration: none;
  color: rgb(206, 206, 206);
}
footer .item:hover {
  color: #b5b5b5;
}
footer .item.active {
  text-decoration: underline;
}
footer .social .fa-brands {
  color: rgb(206, 206, 206);
  font-size: 23px;
  margin-right: 10px;
}

.offers {
  margin-bottom: 2rem;
}

.sales {
  margin-bottom: 2rem;
}

.references {
  margin-bottom: 2rem;
}

.final {
  text-align: center;
  background-color: lightblue;
  height: 20vh;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}/*# sourceMappingURL=main.css.map */