/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  background: linear-gradient(to bottom, #b5d2f1, #4ca3ef);
}
.hero .callout {
  font-size: 25px;
  color: #202020;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 4rem;
}

body {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  border: 2px solid black;
  height: 60px;
  width: 200px;
  background-color: orange;
  font-size: 20px;
  font-weight: bold;
  margin-top: 1.5vh;
}
button:hover {
  background-color: rgb(197, 128, 0);
}

.card {
  width: 25%;
  height: 150px;
  background-color: #b5d2f1;
  border: 3px solid #4ca3ef;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.card h3, .card p {
  text-align: left;
  margin-bottom: 5px;
}
.card h3 {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: bolder;
}
.card p {
  font-size: 18px;
}
.card .price {
  background-color: white;
  text-align: center;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
header img {
  width: 100px;
  height: auto;
}
header nav {
  display: flex;
  gap: 3vw;
}
header .item {
  list-style: none;
  text-decoration: none;
  color: #4ca3ef;
}
header .item:hover {
  color: #4ca3ef;
  text-decoration: underline;
}
header .item.active {
  text-decoration: underline;
}

footer {
  background-color: #202020;
  height: 190px;
  padding: 3rem 8rem 5rem 8rem;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
}
footer h4 {
  color: #dc9a1b;
  font-size: 23px;
  font-weight: bolder;
  margin-bottom: 15px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .item {
  list-style: none;
  text-decoration: none;
  color: rgb(206, 206, 206);
}
footer .item:hover {
  color: #b5b5b5;
}
footer .item.active {
  text-decoration: underline;
}
footer .social .fa-brands {
  color: rgb(206, 206, 206);
  font-size: 23px;
  margin-right: 10px;
}

.offers {
  grid-column: span 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 25px;
  background-color: #9393f8;
  color: #202020;
  height: 15vh;
}
.offers h2 {
  margin-bottom: 10px;
}
.offers p {
  max-width: 90%;
}
.offers .fa-solid {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
  font-size: 40px;
  color: white;
}

.sales {
  grid-column: auto/span 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 25px;
  background-color: #a8a8bb;
  color: #202020;
  height: 15vh;
}
.sales h2 {
  margin-bottom: 10px;
}
.sales p {
  max-width: 90%;
}
.sales .fa-solid {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
  font-size: 40px;
  color: white;
}

.references {
  grid-column: auto/span 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 25px;
  background-color: #6867ae;
  color: #202020;
  height: 15vh;
}
.references h2 {
  margin-bottom: 10px;
}
.references p {
  max-width: 90%;
}
.references .fa-solid {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
  font-size: 40px;
  color: white;
}

.final {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
  margin: 7vh 0;
  background-color: #b5d2f1;
  color: #202020;
  height: 25vh;
}
.final .fa-heart {
  margin-top: 2.5vh;
  color: white;
  align-self: center;
  font-size: 80px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}/*# sourceMappingURL=main.css.map */