.wrapper {
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

/* Make image cover the card image area */
.card-img-wrapper {
  overflow: hidden;
  height: 200px; /* Fixed height for similar look */
}

.card-img-top {
  height: 100%;
  object-fit: contain;
}

