/* custom.css */
.min-vh-100 {
  min-height: 100vh;
}

.flex-grow-1 {
  flex-grow: 1;
}

/* Make sure the image covers the card image area */
.card-img-wrapper {
  overflow: hidden;
  height: 200px; /* Fixed height */
}

.card-img-top {
  height: 100%;
  object-fit: contain;
}

