.final {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  text-align: left;
  padding: 10px;
  margin: 7vh 0;
  background-color: $light-blue; 
  color: $black; 
  height: 25vh;

  .fa-heart {
    margin-top: 2.5vh; 
    color: white;
    align-self: center; // Centrerar hjärtat horisontellt
    font-size: 80px;
  }
}
