// Hero section
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  background: linear-gradient(to bottom, $light-blue, $blue);
  .callout {
    font-size: 25px;
    color: $black;
  }
}
