.card {
  width: 25%;
  height: min(150px);
  background-color: rgb(194, 209, 226);
  border: 3px solid rgb(0, 140, 255);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column; // stack child elements vertically

  h3, p {
    text-align: left;
    margin-bottom: 5px; // bring them closer to each other
  }

  h3 {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bolder;
  }

  p {
    font-size: 18px;
  }


  .price {
    background-color: white;
    text-align: center;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto; // pushes the element to the bottom of the flex container
    width: 100%;
    height: 30px;
    border-radius: 5px;

    // Center text vertically
    display: flex;
    justify-content: center;
    align-items: center;
  }


}