// Header
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  font-size: 20px;

  img {
    width: 100px;
    height: auto;  
  }

  nav {
    display: flex;
    gap: 3vw;
  }
  
  .item {
    list-style: none;
    text-decoration: none;
    color: $blue;
  
    &:hover {
      color: $blue;
      text-decoration: underline;
  
    }
  
    &.active {
      text-decoration: underline;
  
    }
  }
}
