// Mixin för sektionerna i `main`
@mixin common-section($bgColor, $gridColumn) {
  grid-column: $gridColumn; 
  position: relative; // Relativt för att kunna positionera ikonerna
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Placera flex-items i början på main axis
  align-items: flex-start; // Placera flex-items i början på cross axis
  text-align: left;
  padding: 25px;
  background-color: $bgColor; 
  color: $black; 
  height: 15vh;

  h2 {
    margin-bottom: 10px;
  }

  p {
    max-width: 90%;
  }

  .fa-solid {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25px;
    margin-right: 25px; 
    font-size: 40px;
    color: white;
  }
}