// Define base typography styles

// Headers
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
}

// Body Text
body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

